<script type="text/javascript">
  $.backstretch("https://dl.dropboxusercontent.com/u/54485160/project-2/froogalr-bg.jpg");
</script>
<div id="home-content">
  <h1>Find cheap eats in New York City for under $15</h1>
  <%= link_to('Look For Restaurants', restaurants_path, class: 'home-button') %>

</div>
