$(function() {
  $('body').on('click', '#map-modal', hideModal);
});
function mapIt(){
  var currentInfoWindow;
  var restaurants = <%= @restaurants %>;

  for (var i = 0; i < restaurants.length; i++) {
    var myLatlng = new google.maps.LatLng(restaurants[i].latitude,restaurants[i].longitude);

    var marker = new google.maps.Marker({
      position: myLatlng,
      map: map,
      title: restaurants[i].name,
      address: restaurants[i].address,
      id: restaurants[i].id,
      zip: restaurants[i].zip_code,
      telephone: restaurants[i].telephone,
      website: restaurants[i].website,
      cuisine: restaurants[i].cuisine
    });
    google.maps.event.addListener(marker, 'click', function() {
      var modal = $('#map-modal');
      var modalContent = $('#modal-content');
      modalContent.empty();
      modal.show();
      var restaurantWebsite =  this.website;
      console.log(restaurantWebsite);
      var restaurantInfo = $('<div id="restaurant-information">' + '<h3>'+ this.title +'</h3>'
                           + '<p>'+ this.address + ' ' + this.zip +'</p>'
                           + '<p>'+ this.telephone +'</p>'
                           + (restaurantWebsite === null ? '' : ('<a href="'+ restaurantWebsite +'" target="_blank">'+ restaurantWebsite +'</a>'))
                           + '<a href="/restaurants/' + this.id + '">More Info</a>'+ '</div>');
      modalContent.append(restaurantInfo);
      if (currentInfoWindow !== undefined) {
        currentInfoWindow.close();
      }
      modal.show();
      currentInfoWindow = this.modal;
    });

  };
}

function hideModal() {
  console.log('hi');
  $('#map-modal').find('div').empty();
  $("#map-modal").hide();
}

mapIt();
