/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {font-family: "futura-pt",sans-serif;}
a {color: #333;text-decoration: none;border-bottom: 1px dashed #2989B5;}
h1,h2,h3,h4,h5,h6 {font-family: "ff-tisa-web-pro",serif;}

#main-header {height: 100px;background: #FFF;position:fixed;top:0;z-index:999999999;width: 100%;border-top: 5px solid #D53E2A;border-bottom: 1px solid #E4E4E4;}
#main-header h1 {margin: 0;float:left; font-size: 50px;}
#main-header a {color: #333;border-bottom: none;transition: all 0.1s linear;}
#main-header a:hover {border-bottom: 3px solid #D53E2A;}
#header-block {width: 1000px;margin: 0 auto;}
#header-content {float:right;margin-top: 37px;}

#main-content {margin-top: 100px;width: 100%;height: 100%;float:left;}

#home-content {width: 1000px;margin: 0 auto;}
#home-content h1 {color: #FFF;text-shadow:1px 1px 1px #000;text-align: center;font-size: 50px;}
