// Place all the styles related to the restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map-canvas {
  position:relative;
}

.index-map {height: 100%;}


div#map-modal {
  position: absolute;
  z-index: 10;

  height: 100%;
  width: 100%;
  display:none;
  top: 0;
  left: 0;
}

#map-modal #modal-content {
  background: rgba(0,0,0,.8);
  color: whitesmoke;
  width: 500px;
  height: 500px;
  left: 20%;
  top: 20%;
  position:absolute;
}

span#close {
  float: right;
  color: white;
  font-size: 30px;
}

.restaurant-show-map {width: 750px;margin: 0 auto;height: 350px;}
