console.log('Your review was created!');
var reviewHtml = '<%= j(render @review) %>';
var reviewsContainer = $('#reviews_container');
var reviewDiv = $('<div class="review" id="<%= dom_id(@review) %>"></div>')
reviewDiv.val(reviewHtml);
console.log(reviewDiv)
reviewDiv.appendTo(reviewsContaner);
